Terraform/.terraform.lock.hcl
Terraform/.terraform/terraform.tfstate
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.60.0/windows_amd64/LICENSE.txt
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.60.0/windows_amd64/terraform-provider-aws_v5.60.0_x5.exe
terraform.tfstate